// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
button {
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 20px;
  border: 1px solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
  border-radius: 18px;

  &:hover {
    color: #ffffff !important;
    background-color: #000;
    border-color: #494949 !important;
    transition: all 0.4s ease 0s;
  }
}

#btn__wrapper {
  margin: 6em;
}
