body {
  margin: 0;
}

.container {
  height: 100vh;
}

.chart-wrapper {
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

#piechart-title {
  text-align: center;
  padding-top: 1em;
}
#graph__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
