body {
  margin: 0;
}

.container {
  height: 100vh;
}

.chart-wrapper {
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

#section-title {
  text-align: center;
  padding-top: 1em;
}

#piechart-title {
  text-align: center;
  padding: 1em 0;
}
#piechart-text {
  padding: 10px;
  overflow: hidden;
  min-width: 0;
}
#graph__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
